[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "sysdiagnose"
version = "0.1.0"
description = "A tool for sysdiagnose parsing and analysis"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.11"
license = {text = "EUPL-1.2"}
authors = [
  { name="EC-DIGIT-CSIRC", email="EC-DIGIT-CSIRC@ec.europa.eu" },
]
maintainers = [
  { name="EC-DIGIT-CSIRC", email="EC-DIGIT-CSIRC@ec.europa.eu" },
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: EUPL 1.2",
    "Operating System :: OS Independent",
]
keywords = ["sysdiagnose", "analysis", "parsing", "iOS", "apple", "malware", "forensics"]

dependencies = [
    "docopt==0.6.2",
    "graphviz==0.20.3",
    "tabulate==0.9.0",
    "python-dateutil==2.9.0.post0",
    "gpxpy==1.6.2",
    "pandas==2.2.3",
    "numpy==2.2.3",
    "nska-deserialize==1.5.1",
    "yara-python==4.5.1",
    "python-json-logger==3.2.1",
    "python-magic==0.4.27",
    "jinja2==3.1.6",
    "matplotlib==3.10.1",
]

[project.urls]
Homepage = "https://github.com/EC-DIGIT-CSIRC/sysdiagnose"
Issues = "https://github.com/EC-DIGIT-CSIRC/sysdiagnose/issues"

[project.scripts]
sysdiag = "sysdiagnose.__main__:main"
saf = "sysdiagnose.__main__:main"

[tool.setuptools]
package-dir = {"" = "src"}
packages = ["sysdiagnose"]
